@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    
}
@model List<Ingredienti>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <div class="jumbo">
            <nav class="d-flex justify-content-end">    
                    <div class="">
                         <a class=" text-dark" asp-area="" asp-controller="Pizza" asp-action="Index">Guarda le nostre Pizze</a>
                    </div>
             </nav>
          @foreach(Ingredienti ingr in Model)
        {
    
             <p class="align-middle">ingr.NomeIngrediente</p>
         
        }

        </div>
    </header>

   
</body>
</html>

