@model List<Pizza>

<div class="text-center">
    <h1>Benvenuti nel controller pizza</h1>
</div>

@{
    @if (Model == null) // aggiungere la condizione
    {
        // se non c'è nessun elemento
    <div class="col-12">
       <p class="text-center">Nessuna pizza da visualizzare!</p>
    </div>
    }
else
    {
    <ul>
        
    </ul>
    }
}


 




