@model List<Pizza>

<div class="text-center">
    <h1>Benvenuti nel controller pizza</h1>
</div>

@{
 <ul>
    @foreach (Pizza pizze in Model)
    {
    <li>Nome Pizza = @pizze.NomePizza</li>
    <li>Descrizione = @pizze.Descrizione</li>
    <li>Prezzo =  @pizze.Prezzo</li>
    <p>*******</p>
    }
 </ul>
}




